.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.httr-oauth

*.html

# wavelet models
output/figures/wavelet
output/wavelets/ref/*csv
output/wavelets/alt/*csv
output/wavelets/ref/wavelet_model*.rda
output/wavelets/alt/wavelet_model*.rda
data/eflows_final_classification_9CLASS/Final_Classification_9Class*